// Specific CSS for your home-page
body {
    background-color: white;

}

h1 {
    font-weight:bolder;
    font-size: 32px;
}

.container-home {
    width: 80%;
    margin: 25px auto;
}
.about-me-box {
    display: flex;
    margin-top: 90px;
    // justify-content: space-evenly;
}

.left-side img {
    width: 300px;   
}

.left-side {
    margin-top: 30px;
    min-width: 35%;
    margin-right: 15px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}
.social-media i {
    font-size: 30px;
    margin-right: 20px;
    transition: .3s;
    color:darkslategrey;

        &:hover {
            transform: scale(1.1);
        }
}