.mockups {
    width: 140px;
    display: flex;
    justify-content: center;
}


.images img {
    width: 140px;
}

.image img {
    width:400px;
}

.mockups {
    min-width: 50%;
}

.project-card {
    display:flex;
    margin-top: 40px;
}

.projects-all {
    margin-top: 50px;

}