.mockups {
    width: 140px;
    display: flex;
    justify-content: center;
}


.images img {
    width: 140px;
}

.image img {
    width: 100%;
}

.mockups {
    min-width: 50%;
}

.project-card {
    display:flex;
    margin-bottom: 80px;
}

.projects-all {
    margin-top: 50px;

}

.urls {
    display: flex;
    
}

.urls i {
    font-size: 30px;
    color: black;
}

.github {
    margin-right: 25px;
}
.project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}