<div class="container">
    <div class="about-me-box row">
        <div class="left-side col-12 col-lg-4">
            <%= image_tag("Eva_Kramer3.jpg") %>
        </div>
        
        <div class="right-side col-12 col-lg-7">
            <div class="description-box">
                <h1>Hallo!</h1>
                <p>I'm Eva, a full stack developer based in London, UK. I'm currently looking for new opportunities and projects.
                Check out <%= link_to "my projects", projects_path%> and get in touch.</p>
            </div>
            <div class="social-media">
                <%= link_to "<i class='fab fa-linkedin'></i>".html_safe, "https://linkedin.com/in/eva-kramer"%>
                <%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/EvaKra"%>
                <i class="far fa-envelope"></i>
            </div>
        </div>
    </div>
</div>